html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvas {
    height: 100%;
    width: 100%;
}

#panels {
    position: fixed;
    left: 0;
    top: 3%;
    width: 25%;
    height: 94%;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 1em 1em 0;
}

#panels .panel {
    padding: 0 5%;
}

#panels .controls {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

#panels .panel-heading {
    margin: 0;
    border-top: 3px solid #FFF;
    text-transform: uppercase;
}