html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvas {
    height: 100%;
    width: 100%;
}

#controls {
    position: fixed;
    top: 5px;
    right: 5px;
    text-align: center;
    overflow: visible;
}

#controls .control {
    padding: 1px 6px;
    border: 1px solid rgb(113, 123, 135);
    border-right: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
    background: rgb(255,255,255);
    font-size: 13px;
    height: 19px;
    display: block;
    float: left;
}

#controls .control:last-child {
    border: 1px solid rgb(113, 123, 135);
}

#elevation {
    position: fixed;
    top: 47px;
    right: 5px;
    width: 400px;
    height: 200px;
    background: rgba(255,255,255,0.5);
    border: 1px solid rgb(113, 123, 135);
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
    border-radius: 4px;
}

#elevation .inset-heading {
    margin: 0;
    padding: 0.5em 0;
    text-transform: uppercase;
    color: rgba(113, 123, 135, 0.5);
    text-align: center;
}

#results {
    position: fixed;
    border-top: 0.5em solid #000;
    bottom: 18px;
    height: 10em;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    overflow: hidden;
    width: 100%;
    overflow: auto;
    font-size: 1.5em;
}

#results .panel {
    width: 33.333333%;
    height: 100%;
    float: left;
}

#results .panel .panel-heading {
    margin: 0;
    text-transform: uppercase;
    background: #000;
    padding: 0 5% 0.5em 5%;
}

#results .panel .panel-content {
    font-size: 0.75em;
    padding: 0.5em 5% 0.5em 5%;
}

.todo {
    color: #F00;
}